.botones  {
background-color:	#336699;
border-color:	#8CB1DE;
border-width:	1px;
color:	#ffffff;
cursor:	pointer;
font-family:	Verdana, Arial, Sans-Serif;
font-size:	9pt;
font-weight:	bold;
padding:	1px 1px;
text-decoration:	none;
; border: 2px #8CB1DE; margin: 1px 1px
}

.botones1  {
background-color:	#0089A1;
border-color:	#8cb1de;
border-style:	solid;
border-width:	1px;
color:	#ffffff;
cursor:	pointer;
font-family:	Verdana, Arial, Sans-Serif;
font-size:	9pt;
font-weight:	bold;
padding:	2px;
}

.cuerpo  {
border-color:	#336699;
border-style:	solid;
border-width:	1px;
color:	#336699;
font-family:	Verdana, Arial, Sans-Serif;
font-size:	8pt;
padding:	4px;
}
a:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; color: #19497b; text-decoration: none; font-style: normal; font-weight: bold}
a:active { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-style: normal; text-decoration: none; color: #d9ab17 ; font-weight: bold}
a:visited {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-style: normal; font-weight: bold; text-decoration: none}

.noticias  {
color:	#336699;
font-family:	Verdana, Arial, Helvetica, sans-serif;
font-size:	8pt;
font-style:	normal;
font-weight:	normal;
line-height:	normal;
padding-bottom:	4px;
padding-left:	4px;
padding-right:	4px;
padding-top:	4px;
text-align:	left;
}

.rotulo  {
background-color:	#336699;
border-color:	#336699;
color:	#ffffff;
font-family:	Verdana, Arial, Sans-Serif;
font-size:	10pt;
font-weight:	bold;
padding:	4px;
text-align:	left;
}