$crblanco : #ffffff;
$crazulfuerte: #0d2b59;
$cramarillo: #ffcd00;
$crazul: #1954ac;
$crazullight: #4d8ae6;

*{ margin: 0; padding: 0;}
a{font-family: 'Poppins', sans-serif; text-decoration: none;}
ul li{list-style: none;}

.mg-auto{margin: auto;}
.w100{width: 100%}
.w90{width: 90%}
.w80{width: 80%}
.w50{width: 50%}
.w30{width: 30%}
.w20{width: 20%}
.w10{width: 10%}
.min-w100{min-width: 100%;}
.al-ct{text-align: center}

.alerta-exito{
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px 20px;
  border-radius: 6px;
  margin: 10px 0;
}

.alerta-error{
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px 20px;
  border-radius: 6px;
  margin: 10px 0;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

html,body{    
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.container{display: flex; flex-wrap: wrap}
.grid-container{
  display: grid;    
  grid-template-columns: 240px 1fr;
  min-height: 90vh;
  height: 100%;
  // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/**************************************
***            LOADER             ****
***************************************/
.loader{
  display:flex; align-items: center; justify-content: center;
  height: 100vh; z-index:200; background: #fff;
}
.preloader {
  width: 70px;
  height: 70px;
  border-radius: 50%;

  //border: 10px solid $crverde;
  //border-top: 10px solid $cramarillolight;
  background: linear-gradient(45deg, transparent, transparent 40%, $cramarillo);
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.preloader:before{
  content:'';
  position: absolute;
  top:6px; left:6px; right:6px; bottom:6px;
  background: #fff;
  border-radius: 50%;
  z-index: 100;
}

.preloader:after{
  content:'';
  position: absolute;
  top:0px; left:0px; right:0px; bottom:0px;
  background: #fff;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, $cramarillo);
  z-index: 100;  
  filter: blur(10px);
}

@keyframes girar {
  from {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

// NAVBAR
.navbar{ padding: 20px; display: flex; justify-content: space-between; align-items: center; background-color: $crazulfuerte; color: $crblanco; 
  .navbar-menu{ display: flex; align-items: center; color: $crblanco;
    .navbar-brand{font-size: 30px; color: $crblanco; margin-right: 16px;}    
  }
  .navbar-secion{display: flex; align-items: center;
    .name-secion{text-align: right; font-weight: 300; margin-right: 8px;}
    .btn{padding: 8px 16px; border-radius: 6px; border: 1px solid $crblanco; background-color: $crblanco; color: $crazulfuerte; transition: all 0.5ms;
      &:hover{background-color: $crazulfuerte; color: $crblanco;}
    }
  }
}

// ASIDE
.aside{ background-color: $crazulfuerte; color: $crblanco; border-top: 1px solid #f2f2f2;  
  .list{ padding-top: 1px;
    .item-list{ display: flex; flex-wrap: wrap; align-items: center; width: 100%; border-bottom: 1px solid rgba(255,255,255,0.5); background-color: $crazul; cursor: pointer;
      .material-symbols-outlined{padding-left: 10px;}
      .icon-img{width: 28px; padding-left: 10px;}
      a{display: flex; padding: 16px; color: $crblanco; font-weight: 400; line-height: 24px; width: calc(100% - 71px);}
      .sublist{ background-color: $crazullight; width: 100%; 
        .item-sublist{ display: flex; flex-wrap: wrap; align-items: center; width: 100%; border-bottom: 1px solid rgba(255,255,255,0.5);
          .material-symbols-outlined{padding-left: 20px;}
          a{ padding: 12px; font-weight: 300; }
        }  
      }  
    } 
    .active{text-decoration: underline; font-weight: 700; letter-spacing: 1px;}
  }
}

// PRODUCTOS
.storeproduct{
  .btn{ padding: 10px 16px; border-radius: 6px; display:flex; align-items: center; 
    span{ margin: 0 4px;}
  }
  .btn-clear{margin: 0px 6px;  }
  .btn-azul{color: $crblanco; background-color: $crazul; transition: all .5s linear;
    &:hover{background-color: $crazulfuerte;}
  }
  .container-product{padding: 20px; background-color: #f2f2f2;
    .box-breadcrumbs{ display: flex; align-items: center; font-size: 13px; color: $crazullight;
      margin-bottom: 14px;
      .btn-link{display: flex; align-items: center; transition: all 0.5ms; padding:0 8px;
        span{font-size: 13px;}
        &:hover{font-weight: 500;}
      }      
    }
    .box-title{ display: flex; align-items: center; justify-content: space-between; }
    .box-form{ margin:10px 0px; background-color: #fff; border-radius: 6px; padding: 20px; width: 70%; box-shadow: 0px 0px 2px rgba(0,0,255,0.5);
      .box-input{ margin-bottom: 8px;
        label{font-weight: 700; line-height: 28px; width: 100%;}
        input, select{padding: 10px 14px; border:1px solid #d9d9d9; border-radius: 6px; outline: none; width: 220px;}
      }
      .box-buttons{ display: flex; align-items: center; 
        button{padding:10px 14px; border-radius:6px; outline: none; border:1px solid #8c8c8c; display: flex; align-items: center; margin: 0 6px;
          span{margin-right: 8px;}
        }        
      }
    }
    .box-tabla{ margin: 20px 0;
      background-color: $crblanco; box-shadow: 0px 0px 2px rgba(0,0,0,0.5); border-radius: 4px; padding: 16px;
      table{min-width: 100%;}
      table.dataTable tbody td{text-align: center;}
    }
  }
}